<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

    <section>

        <div class="container p-3">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center fs-4">Sign Up</div>

                        <th:block th:if="${session.msg}">
                            <p class="text-center fs-4 text-success">[[${session.msg}]]</p>
                            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                        </th:block>


                        <div class="card-body">
                            <form action="createUser" method="post">
                                <div class="mb-3">
                                    <label>Enter Full Name</label> <input type="text" name="fullName" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label>Enter Phone Number</label> <input type="text" name="phone" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label>Enter Address</label> <input type="text" name="address" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label>Enter Qualification</label> <input type="text" name="qualifications" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label>Enter Password</label> <input type="text" name="password" class="form-control">
                                </div>
                                <button class="btn btn-primary col-md-12">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

</body>
</html>